[Interface]
Address = 192.168.6.1/24 
PostUp = iptables -t nat -I POSTROUTING 1 -s 192.168.6.1/24 -o {{ ansible_default_ipv4.interface }} -j MASQUERADE; iptables -I INPUT 1 -i wg0 -j ACCEPT; iptables -I FORWARD 1 -i {{ ansible_default_ipv4.interface }} -o wg0 -j ACCEPT; iptables -I FORWARD 1 -i wg0 -o {{ ansible_default_ipv4.interface }} -j ACCEPT; iptables -I INPUT 1 -i {{ ansible_default_ipv4.interface }} -p udp --dport 41194 -j ACCEPT; iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE; ip6tables -A FORWARD -i wg0 -j ACCEPT; ip6tables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE 
PostDown = iptables -t nat -D POSTROUTING -s 192.168.6.1/24 -o {{ ansible_default_ipv4.interface }} -j MASQUERADE; iptables -D INPUT -i wg0 -j ACCEPT; iptables -D FORWARD -i {{ ansible_default_ipv4.interface }} -o wg0 -j ACCEPT; iptables -D FORWARD -i wg0 -o {{ ansible_default_ipv4.interface }} -j ACCEPT; iptables -D INPUT -i {{ ansible_default_ipv4.interface }} -p udp --dport 41194 -j ACCEPT; iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE; ip6tables -D FORWARD -i wg0 -j ACCEPT; ip6tables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE 
PrivateKey = {{hostvars['SERVER_KEYS_HOLDER']['serverPrivKey']}}
ListenPort = 41194

[Peer]
PublicKey = {{hostvars['CLIENT_KEYS_HOLDER']['clientPublicKey']}}
AllowedIPs = 192.168.6.2/32
{% if mobile %}
[Peer]
PublicKey = {{hostvars['CLIENT_KEYS_HOLDER']['clientMobilePublicKey']}}
AllowedIPs = 192.168.6.3/32
{% endif %}
